/*
#40CFFF - Blue
#FF7D90 - Redish
#4EB978 - Green
*/

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'ABeeZee', sans-serif;
}

.container{
  margin-top: 20px;
}

nav{
  box-shadow: none;
  background-color: #354A53
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.secondary-content {
  color: #4EB978
}

.btn, .btn-large, .btn-small {
  background-color: #35BC70;
}

.btn:hover, .btn-large:hover, .btn-small:hover{
  background-color: #49C088;
}

.button-box {
  padding-bottom: 20px;
}

.asset {
  color:#4EB978
}

.liability {
  color: #FF7D90
}

i.tiny {
  font-size: 1.4rem;
}

.account-value {
  margin-right: 8px;
}

.networth-value {
  margin-right: 29px;
}

.valign-div {
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.valign-span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

a.brand-logo {
  padding-left: 50px;
}

.edit-link {
  margin-left: 2px;
}